.app {
  display: flex;
  flex-direction: column;
}

.subCompBannerApp {
  display: flex;
}

.subBannerApp {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.appFooter {
  display: flex;
  flex-direction: column;
}

.appFooterFirst {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}

.appFooterSecond {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 767px) {
  .appFooterSecond {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .appFooterSecond {
    margin-bottom: 100px;
  }
}
